html {
	width: 100%;
}

body {
	margin-bottom: 80px;
}

.fancyimg {
	padding: 5px;
	display: inline-block;
}

.fancyimg img {
	margin: 0 auto;
}

.logo-img {
	margin-bottom: 7vw;
}

.jumbotron {
	background-image: url("../img/wbmbg.png");
	margin-bottom: 3vw;
}

.jumbotron p {
	font-size: 4.6vw;
	color: #00a896;
	text-align: center;
}

.bio {
	font-size: 1.2em;
	margin-bottom: 50px;
}

.info {
	float: right;
	padding: 15px;
	margin: 10px;
	background-color: #edfdf8;
}

h1, h2 {
	color: #00a896;
	font-weight: bold;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















